<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <title>{$site_seo_title} {$site_name}</title>
   <meta name="keywords" content="{$site_seo_keywords}" />
   <meta name="description" content="{$site_seo_description}">
   {include file="public:head" /}
</head>
<body class="custom-made">
{include file="public:nav" /}
    <div class="container-fluid cm-main">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-7 draw-wrap">
                <div class="type-name">{$product.product_name}</div>
                <div class="draw-box">
                    <canvas id="c1"></canvas>
                </div>
                <div class="draw-default clearfix">
                {foreach name="product.gbs" item="v"　key="key"}
                    <div id="{$v.progb_myid}" class="col-sm-3 draw-thumbImg">
                        <!-- <p>{$v.progb_name}</p> -->
                        <img src="{$v.progb_img}" />
                    </div>
                 {/foreach}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="select-positon">
                    <h3>选择定制部位<i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix">
                      {foreach name="product.attrs.colors" item="v" key="k"}
                        <div class="part-name-item" id="p{$k}" data-value="{$v.proattr_content}">{$v.proattr_name}</div>
                       {/foreach}
                    </div>
                </div>
                <div class="select-color">
                    <h3><span>选择部位颜色</span><i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="select-logo-pos">
                    <h3>选择定制LOGO<i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix">
                     {foreach name="product.attrs.logops" item="v"}
                        <div class="logo-pos-item" data-value="{$v.proattr_name}">{$v.proattr_name}</div>
                      {/foreach}
                    </div>
                </div>
                <div class="select-logo-color">
                    <h3><span>选择LOGO颜色</span><i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix">
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#e71e28"></div>
                            <div class="logo-color-name">红色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#e44c95"></div>
                            <div class="logo-color-name">粉色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#ec6a1a"></div>
                            <div class="logo-color-name">荧光橘</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#f29f18"></div>
                            <div class="logo-color-name">力豹橘</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#efe034"></div>
                            <div class="logo-color-name">正黄</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#fff100"></div>
                            <div class="logo-color-name">荧光黄</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#60b630"></div>
                            <div class="logo-color-name">绿色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#5ac2d4"></div>
                            <div class="logo-color-name">珊瑚蓝</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#135392"></div>
                            <div class="logo-color-name">蓝色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#04314d"></div>
                            <div class="logo-color-name">藏青</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#764b7d"></div>
                            <div class="logo-color-name">紫色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#221815"></div>
                            <div class="logo-color-name">黑色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#ffffff"></div>
                            <div class="logo-color-name">白色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#5a575e"></div>
                            <div class="logo-color-name">灰色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#BE8A39"></div>
                            <div class="logo-color-name">金色</div>
                        </div>
                        <div class="logo-color-item">
                            <div class="logo-color-value" style="background-color:#B4B5B5"></div>
                            <div class="logo-color-name">银色</div>
                        </div>
                    </div>
                </div>
                <div class="select-logo-font">
                    <h3><span>选择LOGO字体</span><i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix">
                        <div class="logo-font-item" data-id='zt0'><img src="{$yf_theme_path}public/images/cmlogos/zt1.jpg" /></div>
                        <div class="logo-font-item" data-id='zt1'><img src="{$yf_theme_path}public/images/cmlogos/zt2.jpg" /></div>
                        <div class="logo-font-item" data-id='zt2'><img src="{$yf_theme_path}public/images/cmlogos/zt3.jpg" /></div>
                        <div class="logo-font-item" data-id='zt3'><img src="{$yf_theme_path}public/images/cmlogos/zt4.jpg" /></div>
                        <div class="logo-font-item" data-id='zt4'><img src="{$yf_theme_path}public/images/cmlogos/zt5.jpg" /></div>
                        <div class="logo-font-item" data-id='zt5'><img src="{$yf_theme_path}public/images/cmlogos/zt6.jpg" /></div>
                        <div class="logo-font-item" data-id='zt6'><img src="{$yf_theme_path}public/images/cmlogos/zt7.jpg" /></div>
                        <div class="logo-font-item" data-id='zt7'><img src="{$yf_theme_path}public/images/cmlogos/zt8.jpg" /></div>
                        <div class="logo-font-item" data-id='zt8'><img src="{$yf_theme_path}public/images/cmlogos/zt9.jpg" /></div>
                        <div class="logo-font-item" data-id='zt9'><img src="{$yf_theme_path}public/images/cmlogos/zt10.jpg" /></div>
                    </div>
                </div>
                <div class="select-logo-effect">
                    <h3><span>选择LOGO效果</span><i class="glyphicon glyphicon-chevron-up"></i></h3>
                    <div class="clearfix">
                        <div class="logo-eff-item" data-id='zx0'><img src="{$yf_theme_path}public/images/cmlogos/zx1.jpg" /></div>
                        <div class="logo-eff-item" data-id='zx1'><img src="{$yf_theme_path}public/images/cmlogos/zx2.jpg" /></div>
                        <div class="logo-eff-item" data-id='zx2'><img src="{$yf_theme_path}public/images/cmlogos/zx3.jpg" /></div>
                        <div class="logo-eff-item" data-id='zx3'><img src="{$yf_theme_path}public/images/cmlogos/zx4.jpg" /></div>
                    </div>
                </div>
                <div class="input-logotxt">
                    <h3><span>定制LOGO内容</span></h3>
                    <input type="text" value="" />
                </div>
                <a class="btn btn-block btn-danger cm1sub" href="{:url('/home/custom/made_step2',array('pid'=>$product.product_id))}">下一步</a>
            </div>
        </div>
    </div>
    {include file="public:footer"/}
    <script language="javascript">
	{$product.product_funstr}
	</script>
    <script>
    //自定义圆角矩形方法
    CanvasRenderingContext2D.prototype.roundRect = function (x, y, w, h, r) {
        if (w < 2 * r) {r = w / 2;}
        if (h < 2 * r){ r = h / 2;}
        this.beginPath();
        this.moveTo(x+r, y);
        this.arcTo(x+w, y, x+w, y+h, r);
        this.arcTo(x+w, y+h, x, y+h, r);
        this.arcTo(x, y+h, x, y, r);
        this.arcTo(x, y, x+w, y, r);
        this.closePath();
        return this;
    }
    $(function(){
        var oC = document.getElementById('c1');
        var oGC = oC.getContext('2d');
        oC.width = '1200';   //不能带单位
        oC.height = '1000';  //不能带单位
        var x = y = 0;
        // var ctds = document.querySelectorAll(".part-color-item");
        var pSel = document.querySelectorAll('.part-name-item');
        var lpSel = document.querySelectorAll('.logo-pos-item');
        var lfSel = document.querySelectorAll('.logo-font-item');
        var leSel = document.querySelectorAll('.logo-eff-item');
        var pSeli = 0; //选择部位对应id
        var initState = 0;  //初始化状态
        //初始化部位对象
        var colorArr = new Array();
        $.get('{$yf_theme_path}public/js/c_class_colors_default.json').done(function(data){
            for(var i=0;i<data.length;i++){
                var _id = pSel[i].getAttribute('id'), _name = pSel[i].innerText;
                colorArr[data[i].code] = new Object();
                colorArr[data[i].code].code = _id;
                colorArr[data[i].code].name = _name;
                colorArr[data[i].code].colorcade = data[i].colorcade;
                colorArr[data[i].code].colorname = data[i].colorname;
            }
            initState++;
        })
        //初始化logo对象
        var logos = new Array(), logPos = 0;
        $.get('{$yf_theme_path}public/js/c_class_logos_default.json').done(function(data){
            for(var n=0;n<lpSel.length;n++){
                var _logoName = lpSel[n].innerText;
                data[n].logowz = _logoName;
            }
            logos = data;
            initState++;
        })
        var initFill = setInterval(function() {
            if(initState>=2){
                fillCloth(oGC,colorArr,'',logos);
                clearInterval(initFill);
            }
        },20);

        //选择部位
        $(document).on("click",".part-name-item",function(){
            pSeli = this.getAttribute('id');
            var _txt = this.innerText;
            var _colors = this.getAttribute('data-value').split('|');
            var _colorHtml = '';
            for(var i=0;i<_colors.length;i++){
                var _colorName = _colors[i].split(',')[0];
                var _colorValue = _colors[i].split(',')[1];
                _colorHtml += '<div class="part-color-item"><div class="part-color-value" style="background-color:'+_colorValue+'"></div><div class="part-color-name">'+_colorName+'</div></div>';
            }
            $(".select-color h3 span").html('选择 '+_txt+' 颜色');
            $(".select-color .clearfix").html(_colorHtml);
            $(".select-color").show();
            $(this).addClass("cur").siblings().removeClass("cur");
        })
        //选择部位颜色
        $(document).on("click",".part-color-value",function(){
            colorArr[pSeli].colorcade = this.style.backgroundColor;
            colorArr[pSeli].colorname = $(this).next().html();
            fillCloth(oGC,colorArr,'',logos);
        })
        //logo选择
        $(document).on("click",".logo-pos-item",function(){
            logPos = $(this).index();
            logTxt = $(this).html();
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".select-logo-color").show();
            $(".select-logo-font").show();
            $(".select-logo-effect").show();
            $(".input-logotxt").show();
            $(".select-logo-color h3 span").html('选择 '+logTxt+' LOGO颜色');
            $(".select-logo-font h3 span").html('选择 '+logTxt+' LOGO字体');
            $(".select-logo-effect h3 span").html('选择 '+logTxt+' LOGO效果');
            $(".input-logotxt h3 span").html('定制 '+logTxt+' LOGO内容');
        })
        $(document).on("click",".logo-font-item",function(){
            logos[logPos].logozt = $(this).attr('data-id');
            $(this).addClass("cur").siblings().removeClass("cur");
        })
        $(document).on("click",".logo-eff-item",function(){
            logos[logPos].logoxg = $(this).attr('data-id');
            $(this).addClass("cur").siblings().removeClass("cur");
        })
        //logo颜色选择
        $(document).on("click",".logo-color-value",function(){
            logos[logPos].logocolor = this.style.backgroundColor;
            fillCloth(oGC,colorArr,'',logos);
        })
        //定制logo内容
        $(document).on("input",".input-logotxt input",function(){
            logos[logPos].logonr = this.value;
        })
        //显隐选择内容
        $(document).on("click",".glyphicon",function(){
            $(this).toggleClass("glyphicon-chevron-down");
            $(this).parent().next().slideToggle();
        })
        //公版配色
        $(document).on("click","#BWY",function(){
            $.get('{$yf_theme_path}public/js/c_class_colors_BWY.json').done(function(data){
                for(var i=0;i<data.length;i++){
                    colorArr[data[i].code].code = data[i].code;
                    colorArr[data[i].code].name = data[i].name;
                    colorArr[data[i].code].colorcade = data[i].colorcade;
                    colorArr[data[i].code].colorname = data[i].colorname;
                }
                $.get('{$yf_theme_path}public/js/c_class_logos_BWY.json').done(function(data){
                    for(var i=0;i<lpSel.length;i++){
                        logos[i] = data[i];
                    }
                    fillCloth(oGC,colorArr,'',logos);
                })
            })
        })
        $(document).on("click","#BGR",function(){
            $.get('{$yf_theme_path}public/js/c_class_colors_BGR.json').done(function(data){
                for(var i=0;i<data.length;i++){
                    colorArr[data[i].code].code = data[i].code;
                    colorArr[data[i].code].name = data[i].name;
                    colorArr[data[i].code].colorcade = data[i].colorcade;
                    colorArr[data[i].code].colorname = data[i].colorname;
                }
                $.get('{$yf_theme_path}public/js/c_class_logos_BGR.json').done(function(data){
                    for(var i=0;i<lpSel.length;i++){
                        logos[i] = data[i];
                    }
                    fillCloth(oGC,colorArr,'',logos);
                })
            })
        })
        $(document).on("click","#BGB",function(){
            $.get('{$yf_theme_path}public/js/c_class_colors_BGB.json').done(function(data){
                for(var i=0;i<data.length;i++){
                    colorArr[data[i].code].code = data[i].code;
                    colorArr[data[i].code].name = data[i].name;
                    colorArr[data[i].code].colorcade = data[i].colorcade;
                    colorArr[data[i].code].colorname = data[i].colorname;
                }
                $.get('{$yf_theme_path}public/js/c_class_logos_BGB.json').done(function(data){
                    for(var i=0;i<lpSel.length;i++){
                        logos[i] = data[i];
                    }
                    fillCloth(oGC,colorArr,'',logos);
                })
            })
        })

        //提交并存储数据
        $(document).on("click",".cm1sub",function(){
            var colorsCache = [], logosCache = [];
            for(key in colorArr) {
                colorsCache.push(colorArr[key]);
            }
            for(var i=0;i<logos.length;i++){
                logosCache.push(logos[i]);
                delete logosCache[i].lineWidth;
                delete logosCache[i].lineColor;
            }
            sessionStorage.setItem('order_procolor',JSON.stringify(colorsCache));
            sessionStorage.setItem('order_prolog',JSON.stringify(logos));
        })
    })
    </script>
</body>
</html>
