{include file="public:function"/}
{include file="public:config"/}
<meta name="author" content="0570am">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<script src="{$yf_theme_path}public/js/jquery-3.1.0.min.js"></script>
<script src="{$yf_theme_path}public/js/bootstrap.min.js"></script>
<script src="{$yf_theme_path}public/js/swiper-3.4.1.jquery.min.js"></script>
<script src="{$yf_theme_path}public/js/cookies.min.js"></script>
<script src="{$yf_theme_path}public/js/index.js"></script>
<link rel="stylesheet" href="{$yf_theme_path}public/css/bootstrap.min.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/swiper-3.4.1.min.css">
<link rel="stylesheet" href="{$yf_theme_path}public/iconfont/iconfont.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/animate.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/style.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/common.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/main.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/index.css">
<link rel="shortcut icon" href="{$yf_theme_path}public/images/favicon.ico">

<!--[if lt IE 9]>
<script src="__PUBLIC__/others/html5shiv.min.js"></script>
<script src="__PUBLIC__/others/respond.min.js"></script>
<![endif]-->
