<header id="header">
    <div role="navigation" class="container-fluid nav">
        <div class="col-sm-2 logoCn"><a href="__ROOT__/"><img src="{$yf_theme_path}public/images/logo-cn-b.png"/></a></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-2 nav-item"></div>
                <div class="col-sm-2 nav-item">
                    <a href="/home/custom/mlist">专属定制</a>
                    <!--<ul class="nav-item-list">
                        <li><a href="/home/custom/mlist?id=1">赛道系列</a></li>
                        <li><a href="/home/custom/mlist?id=2">城市系列</a></li>
                        <li><a href="/home/custom/mlist?id=3">其他系列</a></li>
                    </ul>-->
                </div>
                <div class="col-sm-2 nav-item"><a href="/list/5.html">产品资讯</a></div>
                <div class="col-sm-2 nav-item"><a href="/list/19.html">技术说明</a></div>
                <div class="col-sm-2 nav-item"><a href="/home/custom/server">售后中心</a></div>
                <div class="col-sm-2 nav-item"><a href="/contacts.html">联系我们</a></div>
            </div>
        </div>
        <div class="col-sm-2 logoEn"><img src="{$yf_theme_path}public/images/logo-en-b.png"/></div>
    </div>
    <div class="nav-child-bg"></div>
</header>